@charset "UTF-8";
/* ==== reset & variables ==== */
@import url("https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ==== common ==== */
header {
  z-index: 10;
}

main {
  width: 100%;
  margin: 100px 0 100px;
}

.detailTitle,
section {
  padding: 0 5%;
  width: 100%;
}

.detailTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.detailTitle .titleImg {
  width: 30px;
  height: 65px;
}
.detailTitle h1 {
  font: 700 11rem/1 "REM";
}
.detailTitle .circleImg {
  margin-left: auto;
  margin-bottom: 70px;
  -webkit-animation: circle 6s linear infinite;
          animation: circle 6s linear infinite;
}

h2 {
  font-size: 5.2rem;
  font-weight: 600;
  line-height: 6.2rem;
}

/* ==== contents ==== */
.infoContainer > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14px;
  margin: 20px 0;
}
.infoContainer > ul li button {
  margin-top: 12px;
  padding: 12px 40px;
  border-radius: 55px;
  font-size: 2.6rem;
  font-weight: 500;
  font-family: "Pretendard";
  color: #ffa6a7;
  border: 1.5px solid #ffa6a7;
  background: none;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.infoContainer > ul li .active {
  background: #ffa6a7;
  color: #fff;
}
.infoContainer .tabContainer > div {
  width: 100%;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 40px;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1.5px solid #ffa6a7;
  display: none;
}
.infoContainer .tabContainer > div .articleVideo {
  width: 35%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.infoContainer .tabContainer > div .articleInfo {
  width: 65%;
  padding-left: 60px;
}
.infoContainer .tabContainer > div .articleInfo h3 {
  font-size: 3rem;
  font-weight: 500;
}
.infoContainer .tabContainer > div .articleInfo p {
  width: 80%;
  font-weight: 300;
  font-size: 1.8rem;
  margin: 30px 0 30px;
  line-height: 2.8rem;
}
.infoContainer .tabContainer > div .articleInfo .articleHashtag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}
.infoContainer .tabContainer > div .articleInfo .articleHashtag li {
  background: #ffa6a7;
  padding: 10px 22px;
  border-radius: 30px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
}
.infoContainer .tabContainer > div.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bannerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 130px 0;
  background: #ffc6c7;
  padding-top: 70px;
  padding-bottom: 70px;
}
.bannerContainer .title {
  width: 40%;
  position: relative;
}
.bannerContainer .bannerBoxWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 60%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.bannerContainer .bannerBoxWrapper .contentWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}
.bannerContainer .bannerBoxWrapper .contentWrapper:first-child {
  margin-bottom: 24px;
}
.bannerContainer .bannerBoxWrapper .contentWrapper .contentBox {
  text-align: center;
}
.bannerContainer .bannerBoxWrapper .contentWrapper .contentBox img {
  border-radius: 20px;
  margin-bottom: 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
          box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}
.bannerContainer .bannerBoxWrapper .contentWrapper .contentBox p {
  font-size: 2rem;
}

.shopContainer .shopBoxWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  border-radius: 40px;
  margin-top: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.shopContainer .shopBoxWrapper .shopBox {
  position: relative;
  width: 33.33%;
  /* 기본적으로 숨김 */
  /* hover 시 보이게 설정 */
}
.shopContainer .shopBoxWrapper .shopBox .imgBox {
  width: 100%;
  height: 100%;
}
.shopContainer .shopBoxWrapper .shopBox .imgBox img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.shopContainer .shopBoxWrapper .shopBox .shopHoverBox {
  background: rgba(255, 198, 199, 0.9);
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 60px;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.shopContainer .shopBoxWrapper .shopBox .shopHoverBox .shopInfo span {
  font-size: 1.4rem;
  font-weight: 500;
  background: #fff;
  padding: 10px 20px;
  border-radius: 30px;
  color: #ffa6a7;
}
.shopContainer .shopBoxWrapper .shopBox .shopHoverBox .shopInfo h4 {
  font-weight: 600;
  margin: 28px 0 30px;
  font-size: 1.8em;
}
.shopContainer .shopBoxWrapper .shopBox .shopHoverBox .shopInfo p {
  font-weight: 300;
  font-size: 1.4rem;
  margin-bottom: 4px;
  line-height: 2.4rem;
}
.shopContainer .shopBoxWrapper .shopBox:hover .shopHoverBox {
  opacity: 1;
  visibility: visible;
}

@-webkit-keyframes circle {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes circle {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/* ==== 반응형 ==== */
@media screen and (max-width: 1200px) {
  .bannerContainer .title {
    width: 30%;
  }
  .bannerContainer .title h2 {
    font-size: 4.5rem;
  }
  .bannerContainer .title br {
    display: none;
  }
  .bannerContainer .bannerBoxWrapper {
    width: 70%;
  }
  .bannerContainer .bannerBoxWrapper .contentWrapper {
    width: 100%;
    gap: 0 !important;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .bannerContainer .bannerBoxWrapper .contentWrapper .contentBox {
    width: 20%;
  }
  .bannerContainer .bannerBoxWrapper .contentWrapper .contentBox img {
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  main {
    width: 100%;
    margin: 80px 0 10px;
  }
  h2 {
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 4.2rem;
  }
  .detailTitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 18px;
  }
  .detailTitle .titleImg {
    width: 18px;
    height: 40px;
  }
  .detailTitle h1 {
    font: 700 7.2rem/1 "REM";
  }
  .detailTitle .circleImg {
    width: 120px;
    height: 120px;
    margin-left: auto;
    margin-bottom: 30px;
  }
  .infoContainer > ul {
    gap: 10px;
  }
  .infoContainer > ul li button {
    padding: 12px 28px;
    font-size: 2rem;
  }
  .infoContainer .tabContainer > div {
    height: 400px;
    border-radius: 30px;
  }
  .infoContainer .tabContainer > div .articleVideo {
    width: 45%;
  }
  .infoContainer .tabContainer > div .articleInfo {
    width: 50%;
    padding-left: 0;
  }
  .infoContainer .tabContainer > div .articleInfo h3 {
    font-size: 2.2rem;
  }
  .infoContainer .tabContainer > div .articleInfo p {
    font-size: 1.4rem;
    margin: 30px 0 20px;
    line-height: 2rem;
  }
  .infoContainer .tabContainer > div .articleInfo .articleHashtag {
    gap: 6px;
  }
  .infoContainer .tabContainer > div .articleInfo .articleHashtag li {
    padding: 8px 16px;
    font-size: 1.4rem;
  }
  .bannerContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 70px 0;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .bannerContainer .title {
    width: inherit;
    padding-bottom: 36px;
  }
  .bannerContainer .title br {
    display: none;
  }
  .bannerContainer .title h2 {
    font-size: 3.2rem;
  }
  .bannerContainer .bannerBoxWrapper {
    width: inherit;
    height: inherit;
  }
  .bannerContainer .bannerBoxWrapper .contentWrapper {
    gap: 20px;
  }
  .bannerContainer .bannerBoxWrapper .contentWrapper:first-child {
    margin-bottom: 18px;
  }
  .bannerContainer .bannerBoxWrapper .contentWrapper .contentBox {
    text-align: center;
  }
  .bannerContainer .bannerBoxWrapper .contentWrapper .contentBox img {
    border-radius: 16px;
    margin-bottom: 6px;
  }
  .bannerContainer .bannerBoxWrapper .contentWrapper .contentBox p {
    font-size: 1.8rem;
  }
  .shopContainer {
    margin-bottom: 70px;
  }
  .shopContainer .shopBoxWrapper {
    border: 1px solid #ffa6a7;
  }
  .shopContainer .shopBoxWrapper .shopBox {
    width: 100%;
    height: 330px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .shopContainer .shopBoxWrapper .shopBox .imgBox {
    width: 50%;
    left: auto;
    z-index: 9;
  }
  .shopContainer .shopBoxWrapper .shopBox .imgBox img {
    display: block;
  }
  .shopContainer .shopBoxWrapper .shopBox:nth-child(2) .imgBox {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .shopContainer .shopBoxWrapper .shopBox:nth-child(2) .shopHoverBox {
    right: auto;
    left: 0;
    position: relative;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .shopContainer .shopBoxWrapper .shopBox:nth-child(4) .imgBox {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .shopContainer .shopBoxWrapper .shopBox:nth-child(4) .shopHoverBox {
    right: auto;
    left: 0;
    position: relative;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .shopContainer .shopBoxWrapper .shopBox:nth-child(6) .imgBox {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .shopContainer .shopBoxWrapper .shopBox:nth-child(6) .shopHoverBox {
    right: auto;
    left: 0;
    position: relative;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .shopContainer .shopBoxWrapper .shopBox .shopHoverBox {
    opacity: 1;
    width: 50%;
    left: auto;
    right: 0;
    background: #fff;
  }
  .shopContainer .shopBoxWrapper .shopBox .shopHoverBox .shopInfo span {
    font-size: 1.2rem;
    padding: 8px 16px;
    border-radius: 30px;
    background: #ffa6a7;
    color: #fff;
  }
  .shopContainer .shopBoxWrapper .shopBox .shopHoverBox .shopInfo h4 {
    margin: 24px 0 24px;
    font-size: 2.6rem;
  }
}
@media screen and (max-width: 767px) {
  main {
    width: 100%;
    margin: 60px 0 100px;
  }
  h2 {
    width: 100%;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1;
  }
  .detailTitle {
    padding: 0 5%;
    gap: 18px;
  }
  .detailTitle .titleImg {
    width: 14px;
  }
  .detailTitle h1 {
    font: 700 6rem/1 "REM";
  }
  .detailTitle .circleImg {
    opacity: 0;
  }
  .infoContainer > ul li button {
    margin-top: 0;
    padding: 6px 14px;
    font-size: 1.4rem;
  }
  .infoContainer .tabContainer > div {
    height: 250px;
    border-radius: 20px;
  }
  .infoContainer .tabContainer > div .articleInfo {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
  }
  .infoContainer .tabContainer > div .articleInfo h3 {
    font-size: 1.5rem;
    font-weight: 600;
  }
  .infoContainer .tabContainer > div .articleInfo p {
    font-size: 0.9rem;
    margin: 12px 0 14px;
    line-height: 1.5rem;
  }
  .infoContainer .tabContainer > div .articleInfo .articleHashtag {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 4px;
  }
  .infoContainer .tabContainer > div .articleInfo .articleHashtag li {
    padding: 6px 8px;
    font-size: 0.9rem;
  }
  .bannerContainer {
    margin: 30px 0;
    background: none;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .bannerContainer .title {
    padding-bottom: 20px;
  }
  .bannerContainer .title h2 {
    font-size: 2.2rem;
  }
  .bannerContainer .bannerBoxWrapper .contentWrapper:first-child {
    margin-bottom: 14px;
  }
  .bannerContainer .bannerBoxWrapper .contentWrapper .contentBox {
    width: 120px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .bannerContainer .bannerBoxWrapper .contentWrapper .contentBox:last-child {
    display: none;
  }
  .bannerContainer .bannerBoxWrapper .contentWrapper .contentBox img {
    border-radius: 10px;
  }
  .bannerContainer .bannerBoxWrapper .contentWrapper .contentBox p {
    font-size: 1.5rem;
  }
  .shopContainer .shopBoxWrapper {
    border-radius: 20px;
  }
  .shopContainer .shopBoxWrapper .shopBox {
    height: 230px;
  }
  .shopContainer .shopBoxWrapper .shopBox .shopHoverBox {
    padding: 0 30px;
  }
  .shopContainer .shopBoxWrapper .shopBox .shopHoverBox .shopInfo span {
    font-size: 0.9rem;
    padding: 5px 10px;
  }
  .shopContainer .shopBoxWrapper .shopBox .shopHoverBox .shopInfo h4 {
    margin: 10px 0;
    font-size: 1.6rem;
  }
  .shopContainer .shopBoxWrapper .shopBox .shopHoverBox .shopInfo p {
    font-size: 0.9rem;
    line-height: 1.6rem;
  }
}