@import "./reset.scss";
@import "./variables.scss";

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Pretendard";
  background: map-get($map: $colors, $key: light);
}

.container {
  width: 1440px;
  margin: 0 auto;
}
.eventTitle {
  width: 100%;
  position: relative;
  height: 600px;
  background-image: url("/images/event/title-bg.png");
  display: flex;
  justify-content: center;
  align-items: center;
  .mainTitle {
    width: 1440px;
    .title {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 30px;
      color: map-get($map: $colors, $key: light);
      p {
        font-size: map-get($map: $font-size, $key: 50px);
        line-height: 1.1;
        font-family: map-get($map: $font-family, $key: Pretendard);
        letter-spacing: -1.5px;
      }
      h2 {
        font-size: map-get($map: $font-size, $key: 100px);
        line-height: 1;
        font-family: map-get($map: $font-family, $key: REM);
        font-weight: bold;
        letter-spacing: -2px;
      }
      span {
        font-size: map-get($map: $font-size, $key: 20px);
        line-height: 1;
        font-family: map-get($map: $font-family, $key: Pretendard);
        font-weight: lighter;
        letter-spacing: 0.9px;
        opacity: 0.7;
      }
    }
  }
}

.eventSteps {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 100px;
  .howTo {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: auto;
    justify-content: center;
    align-items: center;
    gap: 10px;
    h3 {
      width: 100%;
      height: 100%;
      text-align: center;
      background: map-get($map: $colors, $key: box);
      border-radius: 15px;
      padding: 12px 10px;
      color: map-get($map: $colors, $key: dark);
      font-size: map-get($map: $font-size, $key: 40px);
      font-weight: bold;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: -13px;
        left: 50%;
        transform: translateX(-50%);
        width: 88%;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 15px solid #d9d9d9;
      }
    }
    p {
      font-size: map-get($map: $font-size, $key: 30px);
      justify-content: center;
      text-align: center;
      width: 900px;
      margin-top: 30px;
    }
  }
  .steps {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    border: 1px solid darkblue;
    .step01,
    .step02 {
      width: 620px;
      height: 415px;
      position: relative;
      .bg1,
      .bg3 {
        position: absolute;
        width: 360px;
        height: 225px;
        bottom: 0;
        right: 0px;
      }
      .bg2 {
        width: 180px;
        height: 200px;
        position: absolute;
        border-radius: 5px;
        background: url("/images/event/login.png") center/cover no-repeat;
        position: absolute;
        bottom: 100px;
        right: 20px;
      }
      .text1,
      .text2 {
        border: 1px solid #f00;
        width: 250px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 11px;
        position: absolute;
        top: 25px;
        left: 45px;
        h4 {
          color: map-get($map: $colors, $key: footerBg);
          font-size: map-get($map: $font-size, $key: 60px);
          font-weight: 900;
          letter-spacing: -1.2px;
        }
        p {
          color: map-get($map: $colors, $key: dark);
          font-size: map-get($map: $font-size, $key: 30px);
          letter-spacing: -0.6px;
          font-weight: 600;
        }
        span {
          color: map-get($map: $colors, $key: dark);
          font-size: map-get($map: $font-size, $key: 15px);
          font-weight: 400;
          letter-spacing: -0.3px;
        }
      }
    }
  }
}
