@import url("https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 62.5%;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-size: 1.6rem;
  font-family: "Pretendard";
}

header {
  z-index: 10;
}

main {
  overflow: hidden;
}
main #intro .index {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
}
main #intro .index .title {
  left: 5%;
  position: absolute;
  display: flex;
  flex-direction: column;
}
main #intro .index .title p {
  font: normal 3.3rem/1.75 "Pretendard";
  font-weight: 500;
}
main #intro .index .title h2 span {
  display: block;
  flex-direction: column;
  align-items: flex-start;
  font: bold 10rem/0.87 "REM";
}
main #intro .index .title h2 span:first-child {
  margin: 10px 0;
}
main #intro .index .indexImg1 {
  position: absolute;
  top: 15%;
  right: 5%;
  animation: main-circle 5s linear infinite;
}
main #intro .index .indexImg2 {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 10%;
  bottom: 10%;
}
main #intro .index .subTitle {
  top: 70%;
  right: 10%;
  position: absolute;
  display: flex;
  gap: 20px;
}
main #intro .index .subTitle p {
  padding: 16px 30px;
  border-radius: 40px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  margin-top: 5%;
  font: 700 2.4rem/1 "Pretendard";
  letter-spacing: -0.52px;
  transition: all 0.3s;
}
main #intro .index .subTitle p:hover {
  background-color: #cae570;
}
main #intro .index .subTitle p:hover:nth-child(2) {
  background-color: #ffc6c7;
}
main #intro .index .subTitle p:hover:nth-child(3) {
  background-color: #b4e3fc;
}
main #con1 {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  gap: 40px;
}
main #con1 h2 {
  font: normal 7rem/1 "REM";
}
main #con1 .parts {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 46px;
  overflow: hidden;
}
main #con1 .parts .part {
  position: relative;
}
main #con1 .parts .part:hover p {
  opacity: 1;
}
main #con1 .parts .part:hover .partImg {
  filter: brightness(60%);
}
main #con1 .parts .part a .partImg {
  width: 430px;
  height: 570px;
  display: block;
  border-radius: 40px;
  background-position: center;
  transition: all 0.3s;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  cursor: pointer;
}
main #con1 .parts .part p {
  width: 100%;
  transition: all 0.5s;
  position: absolute;
  border-radius: 40px;
  color: #fff;
  font: bold 3.6rem/1 "REM";
  left: 6%;
  bottom: 4%;
  opacity: 0;
}
main #con2 {
  height: 100vh;
}
main #con2 .con2-text {
  margin-top: 10%;
  padding: 0 5%;
  font: 900 11rem/1 "REM";
  text-align: right;
  letter-spacing: 22px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main #con2 .con2-text p:nth-child(even) {
  color: #fff;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}
main #con2 .con2-text .con2Img {
  width: 200px;
  height: 200px;
  margin-top: -5%;
  margin-left: 5%;
}
main #con2 .con2-text .con2Img .active {
  animation: rotate-scale-up 0.7s both;
}
main #con3 {
  width: 100%;
  height: 100vh;
}
main #con3 .content-video {
  height: 100%;
  position: relative;
}
main #con3 .content-video iframe {
  width: 100%;
  height: 100%;
}
main #con4 {
  margin: 100px 0;
  padding: 0 10%;
}
main #con4 .list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main #con4 .list h3 {
  margin-bottom: 50px;
  width: 100%;
  text-align: left;
  font: bold 9rem/1 "REM";
}
main #con4 .list .trendList {
  width: 100%;
}
main #con4 .list .trendList p {
  font: normal 2.4rem/1 "Pretendard";
}
main #con4 .list .trendList p a {
  padding-left: 20px;
  font: bold 5rem/1 "REM";
}
main #con4 .list .trendList div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000;
  padding: 20px;
}
main #con4 .list .trendList div p:first-child {
  display: flex;
  align-items: center;
}
main #con4 .list .trendList div p:first-child a {
  transition: all 0.3s;
}
main #con4 .list .trendList .list01 p a:hover {
  color: #a5d112;
}
main #con4 .list .trendList .list02 p a:hover {
  color: #ffa6a7;
}
main #con4 .list .trendList .list03 p a:hover {
  color: #6fbde7;
}
main #con4 .list .trendList .list04 p a:hover {
  color: #c198f9;
}
main #con5 {
  width: 100%;
}
main #con5 .eventLoad {
  padding: 130px 0;
  display: flex;
  align-items: center;
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../images/index/couponheader.png");
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
main #con5 .eventLoad span {
  text-align: center;
  display: block;
  font: bold 3rem/1.2 "REM";
}
main #con5 .eventLoad span b {
  font-size: 5rem;
}

@media screen and (max-width: 1024px) {
  main #intro .index .title p {
    font: bold 2rem/1 "Pretendard";
  }
  main #intro .index .title h2 span {
    font: bold 8rem/1 "REM";
  }
  main #intro .index .title h2 span:nth-child(1) {
    font: normal 5rem/1 "REM";
  }
  main #intro .index .subTitle p {
    margin-top: 0;
    padding: 14px 28px;
    gap: 6px;
    font: 700 1.8rem/1 "Pretendard";
  }
  main #intro .index .indexImg1 {
    width: 200px;
    height: 200px;
  }
  main #intro .index .indexImg2 {
    width: 80px;
    height: 80px;
    bottom: 6%;
    animation: rotate-scale-up 0.7s both;
  }
  main #con1 {
    padding: 0 5%;
  }
  main #con1 h2 {
    font: normal 4rem/1 "REM";
  }
  main #con1 .parts {
    flex-wrap: wrap;
    gap: 0;
    overflow: hidden;
    border-radius: 40px;
  }
  main #con1 .parts .part {
    width: 50%;
    height: 330px;
    position: relative;
  }
  main #con1 .parts .part:hover .partImg {
    filter: brightness(100%);
  }
  main #con1 .parts .part::after {
    content: "";
    cursor: pointer;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
  }
  main #con1 .parts .part a .partImg {
    border-radius: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    font: bold 3rem/1 "REM";
  }
  main #con1 .parts .part p {
    position: absolute;
    top: 85%;
    left: 6%;
    color: #fff;
    font: bold 2.6rem/1 "REM";
    z-index: 1;
    opacity: 1;
  }
  main #con2 {
    height: auto;
  }
  main #con2 .con2-text {
    font: bold 7rem/1 "REM";
  }
  main #con2 .con2-text .con2Img {
    width: 120px;
    height: 120px;
    margin-top: 3%;
  }
  main #con3 {
    margin-top: 8%;
  }
  main #con4 .list h3 {
    font: bold 5rem/1 "REM";
    margin-bottom: 30px;
  }
  main #con4 .list .trendList p {
    font: bold 1.6rem/1 "REM";
  }
  main #con4 .list .trendList p a {
    font: bold 3rem/1 "REM";
  }
  main #con5 .eventLoad {
    padding: 80px 0;
  }
  main #con5 .eventLoad span {
    width: 700px;
    font: bold 2rem/1.2 "REM";
  }
  main #con5 .eventLoad span b {
    font: bold 4rem/1.2 "REM";
  }
}
@media screen and (max-width: 767px) {
  main #intro .index .title p {
    position: relative;
  }
  main #intro .index .title h2 span {
    padding: 3px 0;
    font: bold 4rem/1 "REM";
  }
  main #intro .index .title h2 span:nth-child(1) {
    font: normal 3rem/1 "REM";
  }
  main #intro .index .subTitle {
    top: 65%;
    right: auto;
    left: 5%;
    flex-wrap: wrap;
  }
  main #intro .index .subTitle p {
    padding: 8px 16px;
    gap: 4px;
    font: 700 1.4rem/1 "Pretendard";
  }
  main #intro .index .indexImg1 {
    width: 120px;
    height: 120px;
    top: 12%;
  }
  main #intro .index .indexImg2 {
    top: 80%;
    width: 60px;
    height: 60px;
    left: 70%;
    animation: rotate-scale-up 0.7s both;
  }
  main #con1 {
    padding-left: 5%;
    padding-right: 0;
    gap: 20px;
  }
  main #con1 h2 {
    font: normal 4rem/1 "REM";
  }
  main #con1 .parts {
    flex-direction: row;
    align-items: center;
    gap: 14px;
    flex-wrap: nowrap;
    justify-content: flex-start;
    border-radius: 0;
    overflow: hidden;
  }
  main #con1 .parts .part {
    flex: 0 0 auto;
    width: 80%;
    max-width: 280px;
  }
  main #con1 .parts .part::after {
    content: "";
    cursor: pointer;
    border-radius: 20px;
  }
  main #con1 .parts .part a .partImg {
    width: 100%;
    border-radius: 20px;
  }
  main #con1 .parts .part p {
    font-size: 2rem;
    left: 10%;
    bottom: 8%;
  }
  main #con2 {
    margin: 100px 0;
  }
  main #con2 .con2-text {
    font: bold 4rem/1 "REM";
    letter-spacing: 12px;
  }
  main #con2 .con2-text .con2Img {
    width: 70px;
    height: 70px;
  }
  main #con3 {
    height: 50vh;
  }
  main #con4 {
    padding: 0 5%;
  }
  main #con4 .list h3 {
    font: bold 3rem/1 "REM";
  }
  main #con4 .list .trendList p {
    font: bold 1.3rem/1 "REM";
  }
  main #con4 .list .trendList p a {
    font: bold 1.5rem/1 "REM";
    padding: 16px;
  }
  main #con5 .eventLoad {
    padding: 80px 0;
  }
  main #con5 .eventLoad span {
    width: 700px;
    font: bold 2rem/1.2 "REM";
  }
  main #con5 .eventLoad span b {
    font: bold 3rem/1.2 "REM";
  }
}
@keyframes rotate-scale-up {
  0% {
    transform: scale(1) rotateZ(0);
  }
  50% {
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
  }
}
@keyframes main-circle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 430px) {
  main #con4 .list .trendList div {
    padding: 20px 0;
  }
}