@import "./reset.scss";
@import "./variables.scss";

html {
  font-size: 62.5%;
}
html,
body {
  overflow-x: hidden;
}
body {
  font-size: 1.6rem;
  font-family: "Pretendard";
}

// header
header {
  z-index: 10;
}
// main contents
main {
  overflow: hidden;
  #intro {
    .index {
      height: 100vh;
      position: relative;
      display: flex;
      align-items: center;
      .title {
        left: 3%;
        position: absolute;
        display: flex;
        flex-direction: column;
        p {
          font: normal 3.3rem/1.75 map-get($map: $font-family, $key: Pretendard);
          font-weight: 700;
        }
        h2 {
          span {
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            font: bold 10rem/0.87 map-get($map: $font-family, $key: REM);
          }
        }
      }
      .indexImg1 {
        position: absolute;
        top: 15%;
        right: 5%;
      }
      .indexImg2 {
        position: absolute;
        width: 100px;
        height: 100px;
        left: 10%;
        bottom: 10%;
        opacity: 0;
        animation: dropBounce 2s ease-out forwards;
      }
      .subTitle {
        top: 70%;
        right: 10%;
        position: absolute;
        display: flex;
        gap: 20px;
        p {
          padding: 16px 30px;
          border-radius: 40px;
          box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
          margin-top: 5%;
          font: 700 2.4rem/1 map-get($map: $font-family, $key: Pretendard);
          letter-spacing: -0.52px;
        }
      }
    }
  }
  #con1 {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    gap: 40px;
    h2 {
      font: normal 7rem/1 map-get($map: $font-family, $key: REM);
    }
    .parts {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 46px;
      overflow: hidden;
      .part {
        position: relative;
        &:hover p {
          opacity: 1;
        }
        &:hover .partImg {
          filter: brightness(60%);
        }
        a {
          .partImg {
            width: 430px;
            height: 570px;
            display: block;
            border-radius: 40px;
            background-position: center;
            transition: all 0.3s;
            background-size: cover;
            background-repeat: no-repeat;
            object-fit: cover;
            cursor: pointer;
          }
        }
        p {
          width: 100%;
          transition: all 0.5s;
          position: absolute;
          border-radius: 40px;
          color: map-get($map: $colors, $key: light);
          font: bold 3.6rem/1 map-get($map: $font-family, $key: REM);
          left: 6%;
          bottom: 4%;
          opacity: 0;
        }
      }
    }
  }
  #con2 {
    height: 100vh;
    .con2-text {
      margin-top: 10%;
      padding: 0 5%;
      font: 900 11rem/1 map-get($map: $font-family, $key: REM);
      text-align: right;
      letter-spacing: 22px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      p {
        &:nth-child(even) {
          color: map-get($map: $colors, $key: light);
          text-shadow: -1px 0 map-get($map: $colors, $key: dark),
            0 1px map-get($map: $colors, $key: dark),
            1px 0 map-get($map: $colors, $key: dark),
            0 -1px map-get($map: $colors, $key: dark);
        }
      }
      .con2Img {
        width: 200px;
        height: 200px;
        margin-top: -5%;
        margin-left: 5%;
      }
    }
  }
  #con3 {
    width: 100%;
    height: 100vh;
    .content-video {
      height: 100%;
      position: relative;
      iframe {
        width: 100%;
        height: 100%;
      }
    }
  }
  #con4 {
    .category {
      margin: 8%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .list {
        width: 1200px;
        h3 {
          font: bold 9rem/1 map-get($map: $font-family, $key: REM);
          padding-bottom: 50px;
          border-bottom: 1px solid map-get($map: $colors, $key: dark);
        }
        p {
          border-bottom: 1px solid map-get($map: $colors, $key: dark);
          font: bold 3rem/1 map-get($map: $font-family, $key: REM);
          padding: 50px;
          a {
            font: bold 5rem/1 map-get($map: $font-family, $key: REM);
            padding: 50px;
            transition: all 0.3s;
          }
          &:nth-child(2) a:hover {
            color: map-get($map: $colors, $key: foodAccent);
          }
          &:nth-child(3) a:hover {
            color: map-get($map: $colors, $key: beautyAccent);
          }
          &:nth-child(4) a:hover {
            color: map-get($map: $colors, $key: fasionAccent);
          }
          &:nth-child(5) a:hover {
            color: map-get($map: $colors, $key: lifestyle);
          }
        }
      }
    }
  }
  #con5 {
    width: 100%;
    .eventLoad {
      padding: 150px 0;
      display: flex;
      align-items: center;
      color: map-get($map: $colors, $key: light);
      background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
        url("../images/index/couponheader.png");
      background-size: cover;
      justify-content: center;
      background-attachment: fixed;
      span {
        text-align: center;
        display: block;
        font: bold 3rem/1.2 map-get($map: $font-family, $key: REM);
        b {
          font-size: 5rem;
        }
      }
    }
  }
}

// tablet.ver
@media screen and (max-width: 1024px) {
  main {
    #intro {
      .index {
        .title {
          left: 3%;
          gap: 14px;
          p {
            font: bold 2rem/1 map-get($map: $font-family, $key: Pretendard);
          }
          h2 {
            span {
              padding: 3px 0;
              font: bold 8rem/1 map-get($map: $font-family, $key: REM);
              &:nth-child(1) {
                font: normal 5rem/1 map-get($map: $font-family, $key: REM);
              }
            }
          }
        }
        .subTitle {
          p {
            margin-top: 0;
            padding: 14px 28px;
            gap: 6px;
            font: 700 1.8rem/1 map-get($map: $font-family, $key: Pretendard);
          }
        }
        .indexImg1 {
          width: 200px;
          height: 200px;
        }
        .indexImg2 {
          width: 80px;
          height: 80px;
          bottom: 6%;
        }
      }
    }
    #con1 {
      padding: 0 5%;
      h2 {
        font: normal 4rem/1 map-get($map: $font-family, $key: REM);
      }
      .parts {
        flex-wrap: wrap;
        gap: 0;
        overflow: hidden;
        border-radius: 40px;
        .part {
          width: 50%;
          height: 330px;
          position: relative;
          &:hover .partImg {
            filter: brightness(100%);
          }
          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
          }
          a {
            .partImg {
              border-radius: 0;
              width: 100%;
              height: 100%;
              color: map-get($map: $colors, $key: light);
              font: bold 3rem/1 map-get($map: $font-family, $key: REM);
            }
          }
          p {
            position: absolute;
            top: 85%;
            left: 6%;
            color: map-get($map: $colors, $key: light);
            font: bold 2.6rem/1 map-get($map: $font-family, $key: REM);
            z-index: 1;
            opacity: 1;
          }
        }
      }
    }
    #con2 {
      height: auto;
      .con2-text {
        font: bold 7rem/1 map-get($map: $font-family, $key: REM);
        .con2Img {
          width: 120px;
          height: 120px;
          margin-top: 3%;
        }
      }
    }
    #con3 {
      margin-top: 8%;
    }
    #con4 {
      .category {
        .list {
          width: 80%;
          h3 {
            font: bold 7rem/1 map-get($map: $font-family, $key: REM);
            padding-bottom: 30px;
          }
          p {
            font: bold 2rem/1 map-get($map: $font-family, $key: REM);
            padding: 30px;
            a {
              font: bold 3rem/1 map-get($map: $font-family, $key: REM);
              padding: 30px;
            }
          }
        }
      }
    }
    #con5 {
      .eventLoad {
        padding: 80px 0;
        span {
          width: 700px;
          font: bold 4rem/1.2 map-get($map: $font-family, $key: REM);
        }
      }
    }
  }
}

// mobile.ver
@media screen and (max-width: 767px) {
  main {
    #intro {
      .index {
        height: 80vh;
        .title {
          top: 30%;
          h2 {
            span {
              padding: 3px 0;
              font: bold 4rem/1 map-get($map: $font-family, $key: REM);
              &:nth-child(1) {
                font: normal 3rem/1 map-get($map: $font-family, $key: REM);
              }
            }
          }
        }
        .subTitle {
          top: 50%;
          p {
            padding: 10px 20px;
            gap: 4px;
            font: 700 1.4rem/1 map-get($map: $font-family, $key: Pretendard);
          }
        }
        .indexImg1 {
          width: 120px;
          height: 120px;
          top: 10%;
        }
        .indexImg2 {
          top: 60%;
          width: 60px;
          height: 60px;
        }
      }
    }
    #con1 {
      padding-left: 5%;
      padding-right: 0;
      gap: 20px;
      margin-top: -20%;
      h2 {
        font: normal 4rem/1 map-get($map: $font-family, $key: REM);
      }
      .parts {
        flex-direction: row;
        align-items: center;
        gap: 14px;
        flex-wrap: nowrap;
        justify-content: flex-start;
        border-radius: 0;
        overflow: hidden;
        .part {
          flex: 0 0 auto;
          width: 80%;
          max-width: 280px;
          &::after {
            content: "";
            border-radius: 20px;
          }
          a {
            .partImg {
              width: 100%;
              border-radius: 20px;
            }
          }
          p {
            font-size: 2rem;
            left: 10%;
            bottom: 8%;
          }
        }
      }
    }
    #con2 {
      .con2-text {
        font: bold 4rem/1 map-get($map: $font-family, $key: REM);
        letter-spacing: 12px;

        .con2Img {
          width: 70px;
          height: 70px;
        }
      }
    }
    #con3 {
      height: 50vh;
    }
    #con4 {
      .category {
        .list {
          width: 100%;
          h3 {
            font: bold 3rem/1 map-get($map: $font-family, $key: REM);
            padding-bottom: 16px;
          }
          p {
            font: bold 1.2rem/1 map-get($map: $font-family, $key: REM);
            padding: 16px;
            a {
              font: bold 2rem/1 map-get($map: $font-family, $key: REM);
              padding: 16px;
            }
          }
        }
      }
    }
    #con5 {
      .eventLoad {
        padding: 40px 0;
        span {
          width: 700px;
          font: bold 2rem/1.2 map-get($map: $font-family, $key: REM);
          b {
            font: bold 3rem/1.2 map-get($map: $font-family, $key: REM);
          }
        }
      }
    }
  }
}

/* Add these CSS animations */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Apply animations to the p tags */
.con2-text p {
  opacity: 0; /* Start hidden */
  animation-fill-mode: forwards; /* Keep the final state */
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

@keyframes dropBounce {
  0% {
    opacity: 0;
    transform: translate(500%, 300%);
  }
  30% {
    opacity: 1;
    transform: translate(20%, 50%); // 내려오면서 작게 튐
  }
  50% {
    transform: translate(0, -50%); // 위로 살짝 튀기
  }
  70% {
    transform: translate(0, 30%); // 다시 아래로 내려오기
  }
  90% {
    transform: translate(0, -30%); // 두 번째 튕김
  }
  100% {
    opacity: 1;
    transform: translate(0, 0); // 제자리 정착
  }
}
