@import url("https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 62.5%;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-size: 1.6rem;
  font-family: "Pretendard";
}

header {
  z-index: 10;
}

main {
  overflow: hidden;
}
main #intro .index {
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
main #intro .index .title {
  left: 3%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
main #intro .index .title p {
  font: normal 3.3rem/1.75 "Pretendard";
  font-weight: 700;
}
main #intro .index .title h2 span {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  font: bold 10rem/0.87 "REM";
}
main #intro .index .indexImg1 {
  position: absolute;
  top: 15%;
  right: 5%;
}
main #intro .index .indexImg2 {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 10%;
  bottom: 10%;
}
main #intro .index .subTitle {
  top: 70%;
  right: 10%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
main #intro .index .subTitle p {
  padding: 16px 30px;
  border-radius: 40px;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  margin-top: 5%;
  font: 700 2.4rem/1 "Pretendard";
  letter-spacing: -0.52px;
}
main #con1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 5%;
  gap: 40px;
}
main #con1 h2 {
  font: normal 7rem/1 "REM";
}
main #con1 .parts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 46px;
}
main #con1 .parts .part {
  position: relative;
}
main #con1 .parts .part:hover p {
  opacity: 1;
}
main #con1 .parts .part:hover .partImg {
  filter: brightness(60%);
}
main #con1 .parts .part .partImg {
  display: block;
  width: 430px;
  height: 570px;
  border-radius: 40px;
  background-position: center;
  transition: all 0.3s;
  background-size: cover;
  background-repeat: no-repeat;
  -o-object-fit: cover;
  object-fit: cover;
  cursor: pointer;
}
main #con1 .parts .part p {
  width: 100%;
  transition: all 0.5s;
  position: absolute;
  border-radius: 40px;
  color: #fff;
  font: bold 3.6rem/1 "REM";
  left: 6%;
  bottom: 4%;
  opacity: 0;
}

#con2 {
  height: 100vh;
}
#con2 .con2-text {
  margin-top: 10%;
  padding: 0 5%;
  font: 900 11rem/1 "REM";
  text-align: right;
  letter-spacing: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 20px;
}
#con2 .con2-text p:nth-child(even) {
  color: #fff;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}
#con2 .con2-text .con2Img {
  width: 200px;
  height: 200px;
  margin-top: -5%;
  margin-left: 5%;
}

#con3 {
  width: 100%;
  height: 100vh;
}
#con3 .content-video {
  height: 100%;
  position: relative;
}
#con3 .content-video iframe {
  width: 100%;
  height: 100%;
}

#con4 .category {
  margin: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#con4 .category .list {
  width: 1436px;
}
#con4 .category .list h3 {
  font: bold 9rem/1 "REM";
  padding-bottom: 50px;
  border-bottom: 1px solid #000;
}
#con4 .category .list p {
  border-bottom: 1px solid #000;
  font: bold 3rem/1 "REM";
  padding: 50px;
}
#con4 .category .list p a {
  font: bold 5rem/1 "REM";
  padding: 50px;
}

#con5 {
  width: 100%;
}
#con5 .eventLoad {
  padding: 150px 0;
  display: flex;
  align-items: center;
  color: #fff;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.75)),
      to(rgba(0, 0, 0, 0.75))
    ),
    url("../images/index/couponheader.png");
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("../images/index/couponheader.png");
  background-size: cover;
  justify-content: center;
  background-attachment: fixed;
}
#con5 .eventLoad span {
  text-align: center;
  display: block;
  font: bold 3rem/1.2 "REM";
}
#con5 .eventLoad span b {
  font-size: 5rem;
}

@media screen and (max-width: 1024px) {
  main #intro .index .title {
    left: 3%;
    gap: 14px;
  }
  main #intro .index .title p {
    font: bold 2rem/1 "Pretendard";
  }
  main #intro .index .title h2 span {
    padding: 3px 0;
    font: bold 8rem/1 "REM";
  }
  main #intro .index .title h2 span:nth-child(1) {
    font: normal 5rem/1 "REM";
  }
  main #intro .index .subTitle p {
    margin-top: 0;
    padding: 14px 28px;
    gap: 6px;
    font: 700 1.8rem/1 "Pretendard";
  }
  main #intro .index .indexImg1 {
    width: 200px;
    height: 200px;
  }
  main #intro .index .indexImg2 {
    width: 80px;
    height: 80px;
    bottom: 6%;
  }
  main #con1 {
    padding-left: 0;
    padding: 0 5%;
  }
  main #con1 h2 {
    font: normal 4rem/1 "REM";
  }
  main #con1 .parts {
    flex-wrap: wrap;
    gap: 0;
    border-radius: 40px;
    overflow: hidden;
  }
  main #con1 .parts .part {
    width: 50%;
    height: 330px;
    position: relative;
  }
  main #con1 .parts .part::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
  }
  main #con1 .parts .part:hover .partImg {
    filter: brightness(100%);
  }
  main #con1 .parts .part .partImg {
    border-radius: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    font: bold 3rem/1 "REM";
  }
  main #con1 .parts .part p {
    position: absolute;
    top: 85%;
    left: 6%;
    color: #fff;
    font: bold 2.6rem/1 "REM";
    z-index: 1;
    opacity: 1;
  }
  main #con2 {
    height: auto;
  }
  main #con2 .con2-text {
    font: bold 7rem/1 "REM";
  }
  main #con2 .con2-text .con2Img {
    width: 120px;
    height: 120px;
    margin-top: 3%;
  }
  main #con3 {
    margin-top: 8%;
  }
  main #con4 .category .list {
    width: 80%;
  }
  main #con4 .category .list h3 {
    font: bold 7rem/1 "REM";
    padding-bottom: 30px;
  }
  main #con4 .category .list p {
    font: bold 2rem/1 "REM";
    padding: 30px;
  }
  main #con4 .category .list p a {
    font: bold 3rem/1 "REM";
    padding: 30px;
  }
  main #con5 .eventLoad {
    padding: 80px 0;
  }
  main #con5 .eventLoad p {
    width: 700px;
    font: bold 4rem/1.2 "REM";
  }
}
@media screen and (max-width: 767px) {
  main #intro .index .title {
    top: 30%;
  }
  main #intro .index .title h2 span {
    padding: 3px 0;
    font: bold 4rem/1 "REM";
  }
  main #intro .index .title h2 span:nth-child(1) {
    font: normal 3rem/1 "REM";
  }
  main #intro .index .subTitle {
    top: 50%;
  }
  main #intro .index .subTitle p {
    padding: 10px 20px;
    gap: 4px;
    font: 700 1.4rem/1 "Pretendard";
  }
  main #intro .index .indexImg1 {
    width: 120px;
    height: 120px;
    top: 10%;
  }
  main #intro .index .indexImg2 {
    top: 60%;
    width: 60px;
    height: 60px;
  }
  main #con1 h2 {
    font: normal 4rem/1;
  }
  main #con1 .parts {
    flex-wrap: nowrap;
    gap: 20px;
  }
  main #con1 .parts .part {
    height: 100%;
  }
}
