@import "./reset.scss";
@import "./variables.scss";

html {
  font-size: 62.5%;
}
html,
body {
  overflow-x: hidden;
}
body {
  font-size: 1.6rem;
  font-family: "Pretendard";
}

// header
header {
  z-index: 1;
}
// main contents
main {
  overflow: hidden;
  #intro {
    .index {
      height: 100vh;
      position: relative;
      display: flex;
      align-items: center;
      .title {
        left: 3%;
        position: absolute;
        display: flex;
        flex-direction: column;
        p {
          font: normal 3.3rem/1.75 map-get($map: $font-family, $key: Pretendard);
          font-weight: 700;
        }
        h2 {
          span {
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            font: bold 12.6rem/0.87 map-get($map: $font-family, $key: REM);
            font: bold 10rem/0.87 map-get($map: $font-family, $key: REM);
          }
        }
      }
      .indexImg1 {
        position: absolute;
        top: 15%;
        right: 5%;
      }
      .indexImg2 {
        position: absolute;
        width: 100px;
        height: 100px;
        left: 10%;
        bottom: 10%;
      }
      .subTitle {
        top: 70%;
        right: 10%;
        position: absolute;
        display: flex;
        gap: 20px;
        p {
          padding: 16px 30px;
          gap: 10px;
          border-radius: 40px;
          box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
          margin-top: 5%;
          font: 700 2.4rem/1 map-get($map: $font-family, $key: Pretendard);
          letter-spacing: -0.52px;
        }
      }
    }
  }
  #con1 {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    gap: 40px;
    h2 {
      font: normal 7rem/1 map-get($map: $font-family, $key: REM);
    }
    .parts {
      display: flex;
      align-items: center;
      gap: 46px;
      .part {
        display: flex;
        flex-direction: column;
        gap: 21px;
        .partImg {
          width: 430px;
          height: 570px;
          border-radius: 40px;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          object-fit: cover;
        }
        p {
          font: bold 3.6rem/1 map-get($map: $font-family, $key: REM);
        }
      }
    }
  }
  #con2 {
    height: 100vh;
    .con2-text {
      margin-top: 10%;
      padding: 0 5%;
      font: 900 11rem/1 map-get($map: $font-family, $key: REM);
      text-align: right;
      letter-spacing: 22px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      p {
        &:nth-child(even) {
          color: map-get($map: $colors, $key: light);
          text-shadow: -1px 0 map-get($map: $colors, $key: dark),
            0 1px map-get($map: $colors, $key: dark),
            1px 0 map-get($map: $colors, $key: dark),
            0 -1px map-get($map: $colors, $key: dark);
        }
      }
      .con2Img {
        width: 200px;
        height: 200px;
        margin-top: -5%;
        margin-left: 5%;
      }
    }
  }
  #con3 {
    width: 100%;
    height: 100vh;
    .content-video {
      height: 100%;
      position: relative;
      iframe {
        width: 100%;
        height: 100%;
      }
    }
  }
  #con4 {
    .category {
      margin: 8%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .list {
        width: 1436px;
        h3 {
          font: 600 9rem/1 map-get($map: $font-family, $key: REM);
          padding-bottom: 50px;
          border-bottom: 1px solid map-get($map: $colors, $key: dark);
        }
        p {
          border-bottom: 1px solid map-get($map: $colors, $key: dark);
          font: 700 3rem/1 map-get($map: $font-family, $key: REM);
          padding: 50px;
          a {
            font: 700 5rem/1 map-get($map: $font-family, $key: REM);
            padding: 50px;
          }
        }
      }
    }
  }
  #con5 {
    width: 100%;
    height: 100vh;
    .eventLoad {
      height: 50%;
      opacity: 0.5;
      display: flex;
      justify-content: center;
      align-items: center;
      color: map-get($map: $colors, $key: light);
      font: bold 6rem/1 map-get($map: $font-family, $key: REM);
      background: url("../images/index/couponheader.png") center/cover no-repeat;
      p {
        width: 1000px;
      }
    }
  }
}

// tablet.ver
@media screen and (max-width: 1024px) {
}

// mobile.ver
@media screen and (max-width: 767px) {
}
