@import "../styles/variables.scss";
@import "../styles/reset.scss";
header {
  z-index: 1;
}
@mixin checkList {
  display: flex;
  gap: 8px;
  label {
    position: static;
    font-size: 1.4rem;
    color: map-get($map: $colors, $key: userInfo);
  }
}
@mixin error {
  width: 12px;
  height: 12px;
  line-height: 12px;
  font-size: 1.2rem;
  color: map-get($map: $colors, $key: light);
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  text-indent: 1px;
}
main {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 150px;
  background: map-get($map: $colors, $key: light);
  h2 {
    font-size: 70px;
    color: map-get($map: $colors, $key: loginTitle);
  }
  #form {
    background: map-get($map: $colors, $key: light);
    box-shadow: 0 30px 60px rgba(20, 20, 21, 0.06);
    border-radius: 30px;
    width: 800px;
    padding: 80px 200px;
    margin: 70px 0;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 30px;
    input:not([type="checkbox"]) {
      width: 100%;
      height: 60px;
      border-radius: 50px;
      border: none;
      background: map-get($map: $colors, $key: loginTitle);
      padding-left: 140px;
      &:focus {
        outline: none;
      }
    }
    input[type="checkbox"] {
      width: 16px;
      height: 16px;
      &:checked {
        accent-color: map-get($map: $colors, $key: foodAccent) !important;
      }
    }
    .error {
      font-size: 1.2rem;
      margin-top: 12px;
      color: map-get($map: $colors, $key: error);
      position: relative;
      i {
        @include error();
        margin-right: 8px;
        background: map-get($map: $colors, $key: error);
      }
    }
    #joinStep {
      display: flex;
      justify-content: center;
      gap: 60px;
      align-items: center;
      border-bottom: 1px solid map-get($map: $colors, $key: line);
      padding-bottom: 30px;
      #arrow {
        font-size: 2rem;
        color: map-get($map: $colors, $key: line);
      }
      .stepWrap {
        display: flex;
        flex-direction: column;
        gap: 16px;
        text-align: center;
        &:nth-child(3) {
          .stepCircle {
            background: map-get($map: $colors, $key: light);
            color: map-get($map: $colors, $key: line);
            border: 1px solid map-get($map: $colors, $key: line);
          }
          p {
            color: map-get($map: $colors, $key: line);
          }
        }
        .stepCircle {
          display: flex;
          flex-direction: column;
          background: map-get($map: $colors, $key: foodAccent);
          color: map-get($map: $colors, $key: light);
          border-radius: 50%;
          width: 100px;
          height: 100px;
          justify-content: center;
          gap: 16px;
          font-size: 1.2rem;
          font-weight: bold;
          i {
            font-size: 1.8rem;
          }
        }
        p {
          font-size: 1.4rem;
          font-weight: bold;
          color: map-get($map: $colors, $key: foodAccent);
        }
      }
    }
    #joinBox {
      display: flex;
      flex-direction: column;
      gap: 12px;
      .joinInput {
        position: relative;
        display: flex;
        flex-direction: column;
        #phoneBtn {
          position: absolute;
          right: 0;
          background: map-get($map: $colors, $key: light);
          border: 1px solid map-get($map: $colors, $key: line);
          padding: 5px 10px;
          width: auto;
          height: auto;
          top: 50%;
          transform: translateY(-50%);
          right: 30px;
          cursor: pointer;
          font-size: 1.2rem;
          color: map-get($map: $colors, $key: foodAccent);
        }
        label {
          position: absolute;
          left: 30px;
          top: 50%;
          transform: translateY(-50%);
          font-size: 1.4rem;
          color: map-get($map: $colors, $key: label);
          font-weight: bold;
        }
      }
      .joinInfo {
        margin-top: 8px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        p {
          font-size: 1.2rem;
          border-radius: 50%;
          i {
            background: map-get($map: $colors, $key: line);
            @include error;
          }
          span {
            color: map-get($map: $colors, $key: line);
          }
        }
        .checkList {
          @include checkList();
        }
      }
      select {
        height: 50px;
        border-radius: 50px;
        border: none;
        background: map-get($map: $colors, $key: loginTitle);
        padding: 0 30px;
        font-size: 1.4rem;
        color: map-get($map: $colors, $key: label);
        font-weight: bold;
        appearance: none;
        background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
        background-repeat: no-repeat;
        background-position: right 2rem top 50%;
        background-size: 1rem auto;
        &:focus {
          outline: none;
        }
      }
    }
    #joinAgree {
      padding-top: 30px;
      border-top: 1px solid map-get($map: $colors, $key: line);
      display: flex;
      flex-direction: column;
      gap: 12px;
      .checkList {
        @include checkList();
      }
      .checkList2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include checkList();
        div {
          display: flex;
          align-items: center;
          gap: 8px;
          label {
            b {
              color: map-get($map: $colors, $key: foodAccent);
            }
          }
        }
        a {
          color: map-get($map: $colors, $key: foodAccent);
          font-size: 1.2rem;
        }
      }
      .agreeBox {
        background: map-get($map: $colors, $key: loginTitle);
        padding: 10px;
        height: 40px;
        border-radius: 8px;
        overflow: scroll;
        overflow-x: hidden;
        p {
          font-size: 1.2rem;
        }
        &::-webkit-scrollbar {
          width: 5px; /* 세로축 스크롤바 폭 너비 */
          height: 8px; /* 가로축 스크롤바 폭 너비 */
        }
        &::-webkit-scrollbar-thumb {
          background: map-get(
            $map: $colors,
            $key: foodAccent
          ); /* 스크롤바 막대 색상 */
          border-radius: 8px;
        }
        &::-webkit-scrollbar-track {
          height: 100%;
          background: map-get($map: $colors, $key: loginTitle);
        }
      }
    }
    #inputBtn {
      display: flex;
      flex-direction: column;
      gap: 12px;
      input {
        padding-left: 0;
        cursor: pointer;
        text-align: center;
        font-size: 1.4rem;
      }
      #finalBtn {
        background: map-get($map: $colors, $key: foodAccent);
        color: map-get($map: $colors, $key: light);
        font-weight: bold;
      }
      #joinCancel {
        background: map-get($map: $colors, $key: light);
        color: map-get($map: $colors, $key: dark);
        border: 1px solid map-get($map: $colors, $key: line);
      }
    }
  }
}

// tablet.ver
@media screen and (max-width: 1024px) {
  main {
    padding-top: 110px;
    h2 {
      font-size: 5rem;
    }
    #form {
      width: 700px;
      margin: 50px 0;
      padding: 80px 150px;
      #inputWrap {
        gap: 15px;
      }
      #userInfo {
        margin: 15px 0;
        font-size: 1.2rem;
      }
      #inputBtn {
        gap: 15px;
      }
      #easyLogin {
        margin-top: 40px;
        gap: 15px;
      }
    }
  }
  footer {
    z-index: 0;
  }
}

//mobile.ver
@media screen and (max-width: 767px) {
  main {
    #form {
      width: 100%;
      padding: 0 5%;
      box-shadow: none;
      input:not(input[type="checkbox"]) {
        height: 50px;
        border-radius: 50px;
        border: none;
      }
      i {
        text-indent: 0 !important;
      }
    }
  }
}
