@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  z-index: 1;
}

main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 150px;
  background: #fff;
}
main h2 {
  font-size: 70px;
  color: #f5f5fa;
}
main #form {
  background: #fff;
  -webkit-box-shadow: 0 30px 60px rgba(20, 20, 21, 0.06);
          box-shadow: 0 30px 60px rgba(20, 20, 21, 0.06);
  border-radius: 30px;
  width: 800px;
  padding: 80px 200px;
  margin: 70px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  gap: 30px;
}
main #form input:not([type=checkbox]) {
  width: 100%;
  height: 60px;
  border-radius: 50px;
  border: none;
  background: #f5f5fa;
  padding-left: 140px;
}
main #form input:not([type=checkbox]):focus {
  outline: none;
}
main #form input[type=checkbox] {
  width: 16px;
  height: 16px;
}
main #form input[type=checkbox]:checked {
  accent-color: #a5d112 !important;
}
main #form .error {
  font-size: 1.2rem;
  margin-top: 12px;
  color: #fc864b;
  position: relative;
}
main #form .error i {
  width: 12px;
  height: 12px;
  line-height: 12px;
  font-size: 1.2rem;
  color: #fff;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  text-indent: 1px;
  margin-right: 8px;
  background: #fc864b;
}
main #form #joinStep {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 30px;
}
main #form #joinStep #arrow {
  font-size: 2rem;
  color: #d9d9d9;
}
main #form #joinStep .stepWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  text-align: center;
}
main #form #joinStep .stepWrap:nth-child(3) .stepCircle {
  background: #fff;
  color: #d9d9d9;
  border: 1px solid #d9d9d9;
}
main #form #joinStep .stepWrap:nth-child(3) p {
  color: #d9d9d9;
}
main #form #joinStep .stepWrap .stepCircle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #a5d112;
  color: #fff;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
  font-size: 1.2rem;
  font-weight: bold;
}
main #form #joinStep .stepWrap .stepCircle i {
  font-size: 1.8rem;
}
main #form #joinStep .stepWrap p {
  font-size: 1.4rem;
  font-weight: bold;
  color: #a5d112;
}
main #form #joinBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}
main #form #joinBox .joinInput {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
main #form #joinBox .joinInput #phoneBtn {
  position: absolute;
  right: 0;
  background: #fff;
  border: 1px solid #d9d9d9;
  padding: 5px 10px;
  width: auto;
  height: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 30px;
  cursor: pointer;
  font-size: 1.2rem;
  color: #a5d112;
}
main #form #joinBox .joinInput label {
  position: absolute;
  left: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.4rem;
  color: #aeaeba;
  font-weight: bold;
}
main #form #joinBox .joinInfo {
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}
main #form #joinBox .joinInfo p {
  font-size: 1.2rem;
  border-radius: 50%;
}
main #form #joinBox .joinInfo p i {
  background: #d9d9d9;
  width: 12px;
  height: 12px;
  line-height: 12px;
  font-size: 1.2rem;
  color: #fff;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  text-indent: 1px;
}
main #form #joinBox .joinInfo p span {
  color: #d9d9d9;
}
main #form #joinBox .joinInfo .checkList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}
main #form #joinBox .joinInfo .checkList label {
  position: static;
  font-size: 1.4rem;
  color: #64646b;
}
main #form #joinBox select {
  height: 50px;
  border-radius: 50px;
  border: none;
  background: #f5f5fa;
  padding: 0 30px;
  font-size: 1.4rem;
  color: #aeaeba;
  font-weight: bold;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: right 2rem top 50%;
  background-size: 1rem auto;
}
main #form #joinBox select:focus {
  outline: none;
}
main #form #joinAgree {
  padding-top: 30px;
  border-top: 1px solid #d9d9d9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}
main #form #joinAgree .checkList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}
main #form #joinAgree .checkList label {
  position: static;
  font-size: 1.4rem;
  color: #64646b;
}
main #form #joinAgree .checkList2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  gap: 8px;
}
main #form #joinAgree .checkList2 label {
  position: static;
  font-size: 1.4rem;
  color: #64646b;
}
main #form #joinAgree .checkList2 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
main #form #joinAgree .checkList2 div label b {
  color: #a5d112;
}
main #form #joinAgree .checkList2 a {
  color: #a5d112;
  font-size: 1.2rem;
}
main #form #joinAgree .agreeBox {
  background: #f5f5fa;
  padding: 10px 0 0 0;
  height: 40px;
  border-radius: 8px;
  overflow: scroll;
  overflow-x: hidden;
}
main #form #joinAgree .agreeBox p {
  font-size: 1.2rem;
}
main #form #joinAgree .agreeBox::-webkit-scrollbar {
  width: 5px; /* 세로축 스크롤바 폭 너비 */
  height: 5px; /* 가로축 스크롤바 폭 너비 */
}
main #form #joinAgree .agreeBox::-webkit-scrollbar-thumb {
  background: #a5d112; /* 스크롤바 막대 색상 */
  border-radius: 8px;
}
main #form #joinAgree .agreeBox::-webkit-scrollbar-track {
  height: 100%;
  background: #f5f5fa;
}
main #form #inputBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}
main #form #inputBtn input {
  padding-left: 0;
  cursor: pointer;
  text-align: center;
  font-size: 1.4rem;
}
main #form #inputBtn #finalBtn {
  background: #a5d112;
  color: #fff;
  font-weight: bold;
}
main #form #inputBtn #joinCancel {
  background: #fff;
  color: #000;
  border: 1px solid #d9d9d9;
}

@media screen and (max-width: 1024px) {
  main {
    padding-top: 110px;
  }
  main h2 {
    font-size: 5rem;
  }
  main #form {
    width: 700px;
    margin: 50px 0;
    padding: 80px 150px;
  }
  main #form #inputWrap {
    gap: 15px;
  }
  main #form #userInfo {
    margin: 15px 0;
    font-size: 1.2rem;
  }
  main #form #inputBtn {
    gap: 15px;
  }
  main #form #easyLogin {
    margin-top: 40px;
    gap: 15px;
  }
  footer {
    z-index: 0;
  }
}
@media screen and (max-width: 767px) {
  main #form {
    width: 100%;
    padding: 0 5%;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  main #form input:not(input[type=checkbox]) {
    height: 50px;
    border-radius: 50px;
    border: none;
  }
  main #form i {
    text-indent: 0 !important;
  }
}