@charset "UTF-8";
/* ==== reset & variables ==== */
@import url("https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ==== common ==== */
header {
  z-index: 10;
}

main {
  width: 100%;
  margin: 100px 0 100px;
}

.detailTitle,
section {
  padding: 0 5%;
  width: 100%;
}

.detailTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.detailTitle .titleImg {
  width: 30px;
  height: 65px;
}
.detailTitle h1 {
  font: 700 11rem/1 "REM";
}
.detailTitle .circleImg {
  margin-left: auto;
  margin-bottom: 70px;
  animation: circle 6s linear infinite;
}

h2 {
  font-size: 5.2rem;
  font-weight: 600;
  line-height: 6.2rem;
}

/* ==== contents ==== */
.infoContainer > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14px;
  margin: 20px 0;
}
.infoContainer > ul li button {
  margin-top: 12px;
  padding: 12px 40px;
  border-radius: 55px;
  font-size: 2.6rem;
  font-weight: 500;
  color: #c198f9;
  border: 1.5px solid #c198f9;
  background: none;
  cursor: pointer;
  transition: all 0.3s;
}
.infoContainer > ul li .active {
  background: #c198f9;
  color: #fff;
}
.infoContainer .tabContainer > div {
  display: flex;
  flex-direction: column;
  display: none;
}
.infoContainer .tabContainer > div > div {
  width: 100%;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 40px;
  overflow: hidden;
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> d93f10de479cfe9bfab0a5a70225efd93ed4bb9b
>>>>>>> 9be1375ae7b53711299b73e763b95c05c40438dc
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1.5px solid #c198f9;
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
=======
>>>>>>> fe0851fc4d48da4c9a873192a2dfbebd0378b000
>>>>>>> 6e131131fe6752ed5beb6b0f3c138c501a94d133
>>>>>>> e42069438c81a85b8418bcc845a317e2b9d637eb
  align-items: center;
  justify-content: space-between;
  border: 1.5px solid #c198f9;
>>>>>>> d93f10de479cfe9bfab0a5a70225efd93ed4bb9b
>>>>>>> 9be1375ae7b53711299b73e763b95c05c40438dc
}
.infoContainer .tabContainer > div > div:first-child {
  margin-bottom: 50px;
}
.infoContainer .tabContainer > div > div .articleVideo {
  width: 35%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.infoContainer .tabContainer > div > div .articleInfo {
  width: 65%;
  padding-left: 60px;
}
.infoContainer .tabContainer > div > div .articleInfo h3 {
  font-size: 3rem;
  font-weight: 500;
}
.infoContainer .tabContainer > div > div .articleInfo p {
  width: 80%;
  font-weight: 300;
  font-size: 1.8rem;
  margin: 30px 0 30px;
  line-height: 2.8rem;
}
<<<<<<< HEAD
.infoContainer .tabContainer > div > div .articleInfo .articleHashtag {
  display: -webkit-box;
  display: -ms-flexbox;
=======
.infoContainer .tabContainer > div > div .articleInfo .articleHashtag {
<<<<<<< HEAD
=======
=======
<<<<<<< HEAD
.infoContainer article .articleInfo .articleHashtag {
=======
<<<<<<< HEAD
.infoContainer .tabContainer > div > div .articleInfo .articleHashtag {
  display: -webkit-box;
  display: -ms-flexbox;
<<<<<<< HEAD
=======
=======
.infoContainer article .articleInfo .articleHashtag {
>>>>>>> b16904dfd7ecf8ecc2eb110e6b9af68117e1366b
>>>>>>> fe0851fc4d48da4c9a873192a2dfbebd0378b000
>>>>>>> 6e131131fe6752ed5beb6b0f3c138c501a94d133
>>>>>>> d93f10de479cfe9bfab0a5a70225efd93ed4bb9b
>>>>>>> e42069438c81a85b8418bcc845a317e2b9d637eb
>>>>>>> 9be1375ae7b53711299b73e763b95c05c40438dc
  display: flex;
  gap: 8px;
}
.infoContainer .tabContainer > div > div .articleInfo .articleHashtag li {
  background: #c198f9;
  padding: 10px 22px;
  border-radius: 30px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
}
.infoContainer .tabContainer > div.active {
  display: flex;
=======
<<<<<<< HEAD
.infoContainer .tabContainer > div.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
<<<<<<< HEAD
=======
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD

.bannerContainer {
  display: flex;
=======
<<<<<<< HEAD
>>>>>>> 6e131131fe6752ed5beb6b0f3c138c501a94d133
.infoContainer .tabContainer > div.active {
  display: flex;
<<<<<<< HEAD
=======
=======

.bannerContainer {
  display: flex;
>>>>>>> fe0851fc4d48da4c9a873192a2dfbebd0378b000
  justify-content: space-between;
  margin: 130px 0;
  background: #cae570;
  padding-top: 70px;
  padding-bottom: 70px;
}
.bannerContainer .title {
  width: 40%;
  position: relative;
}
.bannerContainer .bannerBoxWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  justify-content: flex-end;
}
.bannerContainer .bannerBoxWrapper .contentWrapper {
  display: flex;
  gap: 24px;
}
.bannerContainer .bannerBoxWrapper .contentWrapper:first-child {
  margin-bottom: 24px;
}
.bannerContainer .bannerBoxWrapper .contentWrapper .contentBox {
  text-align: center;
}
.bannerContainer .bannerBoxWrapper .contentWrapper .contentBox img {
  border-radius: 20px;
  margin-bottom: 8px;
}
.bannerContainer .bannerBoxWrapper .contentWrapper .contentBox p {
  font-size: 2rem;
>>>>>>> b16904dfd7ecf8ecc2eb110e6b9af68117e1366b
>>>>>>> d93f10de479cfe9bfab0a5a70225efd93ed4bb9b
>>>>>>> 9be1375ae7b53711299b73e763b95c05c40438dc
}

@-webkit-keyframes circle {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
>>>>>>> 6e131131fe6752ed5beb6b0f3c138c501a94d133
>>>>>>> e42069438c81a85b8418bcc845a317e2b9d637eb
}

@keyframes circle {
  100% {
    transform: rotate(360deg);
  }
}
/* ==== 반응형 ==== */
@media screen and (max-width: 1024px) {
  main {
    width: 100%;
    margin: 80px 0 10px;
  }
  h2 {
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 4.2rem;
  }
  .detailTitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 18px;
  }
  .detailTitle .titleImg {
    width: 18px;
    height: 40px;
  }
  .detailTitle h1 {
    font: 700 7.2rem/1 "REM";
  }
  .detailTitle .circleImg {
    width: 120px;
    height: 120px;
    margin-left: auto;
    margin-bottom: 30px;
  }
  .infoContainer > ul {
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
>>>>>>> fe0851fc4d48da4c9a873192a2dfbebd0378b000
    display: flex;
>>>>>>> b16904dfd7ecf8ecc2eb110e6b9af68117e1366b
>>>>>>> 6e131131fe6752ed5beb6b0f3c138c501a94d133
>>>>>>> d93f10de479cfe9bfab0a5a70225efd93ed4bb9b
>>>>>>> e42069438c81a85b8418bcc845a317e2b9d637eb
>>>>>>> 9be1375ae7b53711299b73e763b95c05c40438dc
    gap: 10px;
  }
  .infoContainer > ul li button {
    padding: 12px 28px;
    font-size: 2rem;
  }
  .infoContainer .tabContainer > div > div {
    height: 400px;
<<<<<<< HEAD
    border-radius: 30px;
=======
    border-radius: 30px;
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
    border-radius: 30px;
=======
>>>>>>> fe0851fc4d48da4c9a873192a2dfbebd0378b000
    display: flex;
    gap: 40px;
    border: 1px solid #a5d112;
    border-radius: 36px;
    overflow: hidden;
    align-items: center;
<<<<<<< HEAD
=======
>>>>>>> b16904dfd7ecf8ecc2eb110e6b9af68117e1366b
>>>>>>> fe0851fc4d48da4c9a873192a2dfbebd0378b000
>>>>>>> 6e131131fe6752ed5beb6b0f3c138c501a94d133
>>>>>>> d93f10de479cfe9bfab0a5a70225efd93ed4bb9b
>>>>>>> e42069438c81a85b8418bcc845a317e2b9d637eb
>>>>>>> 9be1375ae7b53711299b73e763b95c05c40438dc
  }
  .infoContainer .tabContainer > div > div:first-child {
    margin-bottom: 40px;
  }
  .infoContainer .tabContainer > div > div .articleVideo {
    width: 45%;
  }
  .infoContainer .tabContainer > div > div .articleInfo {
    width: 50%;
    padding-left: 0;
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
    width: 50%;
    height: 230px;
    align-items: center;
<<<<<<< HEAD
=======
>>>>>>> b16904dfd7ecf8ecc2eb110e6b9af68117e1366b
>>>>>>> fe0851fc4d48da4c9a873192a2dfbebd0378b000
>>>>>>> 6e131131fe6752ed5beb6b0f3c138c501a94d133
>>>>>>> d93f10de479cfe9bfab0a5a70225efd93ed4bb9b
>>>>>>> e42069438c81a85b8418bcc845a317e2b9d637eb
>>>>>>> 9be1375ae7b53711299b73e763b95c05c40438dc
  }
  .infoContainer .tabContainer > div > div .articleInfo h3 {
    font-size: 2.2rem;
  }
  .infoContainer .tabContainer > div > div .articleInfo p {
    font-size: 1.4rem;
    margin: 30px 0 20px;
    line-height: 2rem;
  }
  .infoContainer .tabContainer > div > div .articleInfo .articleHashtag {
    gap: 6px;
  }
  .infoContainer .tabContainer > div > div .articleInfo .articleHashtag li {
    padding: 8px 16px;
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 767px) {
  main {
    width: 100%;
    margin: 60px 0 100px;
  }
  h2 {
    width: 100%;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1;
  }
  .detailTitle {
    padding: 0 5%;
    gap: 18px;
  }
  .detailTitle .titleImg {
    width: 14px;
  }
  .detailTitle h1 {
    font: 700 6rem/1 "REM";
  }
  .detailTitle .circleImg {
    opacity: 0;
  }
  .infoContainer > ul li button {
    margin-top: 0;
    padding: 6px 14px;
    font-size: 1.4rem;
  }
  .infoContainer .tabContainer > div > div {
    height: 250px;
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
=======
  .infoContainer article {
    position: relative;
    height: 230px;
    gap: 20px;
    align-items: center;
<<<<<<< HEAD
=======
>>>>>>> b16904dfd7ecf8ecc2eb110e6b9af68117e1366b
>>>>>>> fe0851fc4d48da4c9a873192a2dfbebd0378b000
>>>>>>> 6e131131fe6752ed5beb6b0f3c138c501a94d133
>>>>>>> d93f10de479cfe9bfab0a5a70225efd93ed4bb9b
>>>>>>> e42069438c81a85b8418bcc845a317e2b9d637eb
>>>>>>> 9be1375ae7b53711299b73e763b95c05c40438dc
    border-radius: 20px;
  }
  .infoContainer .tabContainer > div > div:first-child {
    margin-bottom: 20px;
  }
  .infoContainer .tabContainer > div > div .articleInfo {
    align-items: center;
=======
<<<<<<< HEAD
  .infoContainer .tabContainer > div > div .articleInfo {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
<<<<<<< HEAD
=======
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
  .infoContainer article .articleInfo {
    align-items: center;
=======
<<<<<<< HEAD
>>>>>>> 6e131131fe6752ed5beb6b0f3c138c501a94d133
  .infoContainer .tabContainer > div > div .articleInfo {
    align-items: center;
<<<<<<< HEAD
=======
>>>>>>> b16904dfd7ecf8ecc2eb110e6b9af68117e1366b
>>>>>>> fe0851fc4d48da4c9a873192a2dfbebd0378b000
>>>>>>> 6e131131fe6752ed5beb6b0f3c138c501a94d133
>>>>>>> d93f10de479cfe9bfab0a5a70225efd93ed4bb9b
>>>>>>> e42069438c81a85b8418bcc845a317e2b9d637eb
>>>>>>> 9be1375ae7b53711299b73e763b95c05c40438dc
    height: auto;
  }
  .infoContainer .tabContainer > div > div .articleInfo h3 {
    font-size: 1.5rem;
    font-weight: 600;
  }
  .infoContainer .tabContainer > div > div .articleInfo p {
    font-size: 0.9rem;
    margin: 12px 0 14px;
    line-height: 1.5rem;
  }
<<<<<<< HEAD
  .infoContainer .tabContainer > div > div .articleInfo .articleHashtag {
    display: -webkit-box;
    display: -ms-flexbox;
=======
  .infoContainer .tabContainer > div > div .articleInfo .articleHashtag {
<<<<<<< HEAD
=======
=======
<<<<<<< HEAD
  .infoContainer article .articleInfo .articleHashtag {
=======
<<<<<<< HEAD
  .infoContainer .tabContainer > div > div .articleInfo .articleHashtag {
    display: -webkit-box;
    display: -ms-flexbox;
<<<<<<< HEAD
=======
=======
  .infoContainer article .articleInfo .articleHashtag {
>>>>>>> b16904dfd7ecf8ecc2eb110e6b9af68117e1366b
>>>>>>> fe0851fc4d48da4c9a873192a2dfbebd0378b000
>>>>>>> 6e131131fe6752ed5beb6b0f3c138c501a94d133
>>>>>>> d93f10de479cfe9bfab0a5a70225efd93ed4bb9b
>>>>>>> e42069438c81a85b8418bcc845a317e2b9d637eb
>>>>>>> 9be1375ae7b53711299b73e763b95c05c40438dc
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 4px;
  }
  .infoContainer .tabContainer > div > div .articleInfo .articleHashtag li {
    padding: 6px 8px;
    font-size: 0.9rem;
  }
}