header {
  z-index: 1;
}

main {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 150px;
}
main h2 {
  font-size: 70px;
  color: #f5f5fa;
}
main #form {
  background: #fff;
  box-shadow: 0 30px 60px rgba(20, 20, 21, 0.08);
  border-radius: 30px;
  width: 800px;
  padding: 80px 200px;
  margin: 70px 0;
  display: flex;
  flex-direction: column;
  position: relative;
}
main #form input:not(input[type="checkbox"]) {
  width: 100%;
  height: 60px;
  border-radius: 50px;
  border: none;
}
main #form input:not(input[type="checkbox"]):focus {
  outline: none;
}
main #form #inputWrap {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
main #form #inputWrap .inputBox {
  position: relative;
}
main #form #inputWrap .inputBox input {
  padding-left: 140px;
  background: #f5f5fa;
}
main #form #inputWrap .inputBox label {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.4rem;
  color: #aeaeba;
  font-weight: bold;
}
<<<<<<<
  HEAD
  =======
  <<<<<<<
  HEAD
  =======>>>>>>>127eb50a0bec6d720e444d161d69233ffa068035
  main
  #form
  #inputWrap
  .inputBox
  label::-moz-placeholder {
  font-size: 1.8rem;
  color: #ccc;
}
main #form #inputWrap .inputBox label::placeholder {
  font-size: 1.8rem;
  color: #ccc;
}
>>>>>>>c8461f53841ce5975ae9e94107f45bd907bbc14d main #form #userInfo {
  margin: 16px 0;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  color: #64646b;
}
main #form #userInfo div:first-child {
  display: flex;
  align-items: center;
  gap: 8px;
}
main #form #userInfo div:first-child input[type="checkbox"] {
  width: 20px;
  height: 20px;
}
main #form #userInfo div:last-child a:last-child {
  position: relative;
  margin-left: 21px;
}
main #form #userInfo div:last-child a:last-child::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background: #d9d9d9;
  left: -12.5px;
}
main #form #inputBtn {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
main #form #inputBtn input {
  cursor: pointer;
  font-size: 1.4rem;
}
main #form #inputBtn #loginBtn {
  background: #a5d112;
  color: #fff;
  font-weight: bold;
}
main #form #inputBtn #joinBtn {
  background: #fff;
  border: 1px solid #d9d9d9;
}
main #form #easyLogin {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
main #form #easyLogin #easyText {
  display: none;
}
main #form #easyLogin a {
  font-size: 1.4rem;
  border-radius: 50px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #fff;
}
main #form #easyLogin a:first-child {
  background: #03c75a;
}
main #form #easyLogin a:nth-child(2) {
  background: #fee500;
  color: #000;
}
main #form #easyLogin a:nth-child(3) {
  background: #3b5998;
}
main #form #easyLogin a:nth-child(4) {
  background: #000;
}

@media screen and (max-width: 1024px) {
  main {
    padding-top: 110px;
  }
  main h2 {
    font-size: 5rem;
  }
  main #form {
    width: 700px;
    padding: 80px 150px;
    margin: 50px 0;
  }
  main #form #inputWrap {
    gap: 15px;
  }
  main #form #userInfo {
    margin: 15px 0;
    font-size: 1.2rem;
  }
  main #form #inputBtn {
    gap: 15px;
  }
  main #form #easyLogin {
    margin-top: 40px;
    gap: 12px;
  }
  footer {
    z-index: 0;
  }
}
@media screen and (max-width: 767px) {
  main #form {
    width: 100%;
    padding: 0 5%;
    box-shadow: none;
  }
  main #form input:not(input[type="checkbox"]) {
    height: 50px;
    border-radius: 50px;
    border: none;
  }
  main #form #inputWrap {
    gap: 10px;
  }
  main #form #inputWrap .inputBox label {
    font-size: 1.2rem;
  }
  main #form #inputBtn {
    gap: 10px;
  }
  main #form #userInfo {
    font-size: 1.2rem;
    margin: 15px 0;
  }
  main #form #easyLogin {
    position: relative;
    justify-content: center;
  }
  main #form #easyLogin a {
    height: 50px;
  }
}
