// colors
$colors: (
  dark: #000,
  light: #fff,
  footerBg: #333,
  food: #cae570,
  foodAccent: #a5d112,
  beauty: #ffc6c7,
  beautyAccent: #ffa6a7,
  fashion: #b4e3fc,
  fasionAccent: #6fbde7,
  lifestyle: #c198f9,
  naver: #03c75a,
  kakao: #fee500,
  facebook: #3b5998,
  loginTitle: #f5f5fa,
  box: #e9e9e9,
  line: #d9d9d9,
  label: #aeaeba,
  placeholder: #ccc,
  userInfo: #64646b,
);

// font-family
$font-family: (
  REM: "REM",
  Pretendard: "Pretendard",
);
