// 색상
$colors: (
  dark: #000,
  light: #fff,
  footerBg: #333,
  food: #cae570,
  beauty: #ffc6c7,
  fashion: #b4e3fc,
  lifestyle: #c198f9,
);

// 폰트 사이즈
$font-size: (
  12px: 1.2rem,
  14px: 1.4rem,
  16px: 1.6rem,
  20px: 2rem,
  52px: 5.2rem,
);

// 폰트 패밀리
$font-family: (
  REM: "REM",
  Pretendard: "Pretendard",
);
